// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

// @use '../01_abstracts/index' as *;
@use '../../../../style.scss' as *;

// Font smoothing + Box sizing
*,
*::before,
*::after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

// Basic root element
html {
  font-size: 16px;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

// Basic body styling
body {
  overflow-x: hidden;
}

.content {
  margin-top: calc(2rem + var(--se--header-height));
}

// Wrapper styling
#wrapper {
  overflow: hidden; // Remove if position: sticky is needed on element
}

// Basic styling for links
a {
  font-family: var(--mono-font);
  text-decoration: none;
  position: relative;
}

// Basic image styling
img {
  display: flex;
  user-select: none;
  max-width: 100%;
  height: auto;
  transition: var(--se--transition);
}

figure {
  &.image-figure {
    overflow: hidden;
    margin: 0;
  }
}

// Style WP Adminbar
#wpadminbar {
  opacity: 0;
  transition: var(--se--transition);
  user-select: none;

  &:hover {
    opacity: 1;
  }
}

// Selection color
::selection {
  background: var(--wp--preset--color--red-1);
  color: white;
}

// Remove arrows from number fields
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// Remove arrows from number fields in Firefox
input[type='number'] {
  -moz-appearance: textfield;
}

// No scrolling class
.no-scroll {
  overflow: hidden;
}

// Hidden class
.hidden,
[hidden] {
  opacity: 0 !important;
  visibility: visible !important;
  display: none !important;
}

// Default SVG behavior
svg {
  transition: var(--se--transition);
  transform-origin: center;

  path,
  rect,
  circle {
    transition: var(--se--transition);
    transform-origin: inherit;
  }
}

// Scrollbar styling
body::-webkit-scrollbar {
  width: 8px;
  background-color: var(--wp--preset--color--dark-1);
}

// Scrollbar Thumb
body::-webkit-scrollbar-thumb {
  background-color: var(--wp--preset--color--red-1);

  &:hover {
    background-color: var(--wp--preset--color--primary-l);
  }
}

// Transitions

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  transition: var(--se--transition-color);
}

// Hover effects

.hover-effect-1 {
  &:hover {
    a,
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: black !important;
    }

    path {
      filter: brightness(0);
    }
  }
}

.hover-effect-2 {
  &:hover {
    text-shadow: 1px 0 0 var(--red-1);
  }
}
